includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Pages/Concerns/HasPagePermissions.php
        -
            identifier: trait.unused
            path: src/Widgets/Concerns/HasWidgetPermissions.php
